repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: mypy  # Run locally, because official hook runs in venv, missing thirdparty type info
        name: mypy
        entry: mypy
        language: system
        types: [python]
